/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  background-image: var(--page-background);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-size: 18px;
  font-style: normal;
  font-variation-settings: 'wght' var(--text-fweight);
  min-height: 100vh;
}

.header {
  margin: 0 var(--content-margin);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-start: 100px;
  margin-block-end: 100px;
  border: 2px solid var(--border-color);
  background-color: var(--background-color);
}

.logo__group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-block-start: 120px;
  margin-block-end: 120px;
}

.header__title {
  font-size: var(--header-font-size);
  font-family: 'PressStart2P', cursive;
  text-transform: uppercase;
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
  font-family: 'PressStart2P', cursive;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid #000;
  margin: 0 var(--content-margin);
  background-color: var(--background-color);
  margin-block-end: 50px ;
}

.section__header {
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' var(--title-fweight);
  padding: 4px 10px;
  font-size: 18px ;
  font-style: normal;
  line-height: normal;
}

.section__block-text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 25px 25px;
}
.section__title {
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 715;
  line-height: normal;
}

.section__block-img {
  position: relative;
  display: inline-block;
  border-top: 2px solid var(--border-color);
  border-bottom: 2px solid var(--border-color);
}

.section__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.img__intro {
  filter: brightness(1.05);
}

.img__clean {
  filter: grayscale(0.8);
}

.img__try {
  filter: contrast(0.9) brightness(0.9);
}

.img__ideal {
  filter: contrast(1.3) saturate(1.2);
}

.img__help {
  filter: sepia(0.4) saturate(1.3);
}

.img__strategy {
  filter: hue-rotate(25deg) contrast(1.1);
}

.img__tired {
  filter: grayscale(0.6) blur(1.5px) brightness(0.85);
}

.img__end {
  filter: saturate(1.4) brightness(1.1);
}

.section__block-img .img__watermark {
  top: 25px;
  right: 25px;
  text-transform: uppercase;
  position: absolute;
  background-color: transparent;
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  font-variation-settings: 'wght' var(--text-fweight);
  color: var(--black-color);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #FFF;
  text-stroke: 1px #fff;
  text-shadow:
          -1px -1px 0 var(--text-shadow-color),
          1px -1px 0 var(--text-shadow-color),
          -1px  1px 0 var(--text-shadow-color),
          1px  1px 0 var(--text-shadow-color);
  opacity: 0.5;
  mix-blend-mode: hard-light;
}

@supports (-webkit-text-stroke: 1px #fff) or (text-stroke: 1px #fff) {
  .img__watermark {
    text-shadow: none;
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;
  }
}

.section__text {
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' var(--text-fweight);
  font-size: 18px;
  font-style: normal;
  font-weight: 410;
  line-height: 21px;
}

.section__block-btn {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 6px;
  margin-block-end: 25px;
  margin-inline-end: 25px;
}

.section__btn {
  display: flex;
  width: 130px;
  height: 38px;
  padding: 12px 17px;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--border-color);
  background: white;
  color: white;
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.section__btn:before {
  content: '';
  position: absolute;
  inset:0;
  background: black;
  transform: translateX(-100% );
  transition: transform 0.5s ease-in-out
}

.section__btn:hover:before {
  transform: translateX(0);
}

.section__btn svg {
  position: relative;
  mix-blend-mode: difference;
}

.section__btn span {
  position: relative;
  mix-blend-mode: difference;
}

.section__btn:focus {
  outline: none;
  box-shadow: 2px 2px 0 0 var(--accent-color);
}

.button__text {
  mix-blend-mode: difference;
  font-family: 'PressStart2P', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  white-space: nowrap;
}

.like-icon {
  transform-origin: center;
}

.contour {
  transition: fill 0.1s linear;
}

.core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.sparks {
  opacity: 0;
  fill: var(--animation-fill-color);
}

.card__icon-button:hover .core {
  fill: var(--black-color);
  transition-delay: 0s;
}

.card__icon-button:hover .main-body {
  fill: var(--black-color);
  transition-delay: 0.05s;
}

.card__icon-button:active .core {
  fill: var(--animation-fill-color);
  transition-delay: 0s;
}

.card__icon-button:active .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.06s;
}


.card__icon-button {
  display: flex;
  inline-size: 39px;
  block-size: 36px;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  padding: 0;
  cursor: pointer;
  transition: border-color 0.3s ease;
  box-sizing: border-box;
  background-color: var(--background-color);
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color);
}


.section__footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--background-color);
  margin: 0 var(--content-margin-footer);
  margin-block-end: 100px;
}

.footer__button {
  display: flex;
  gap: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 15px 20px;
  border: 2px solid var(--border-color);
}

.footer__dialog[open] {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  padding: 30px 40px;
  column-gap: 20px;
  row-gap: 30px;
  align-items: center;
  border: 2px solid var(--border-color);
  background-color: var(--background-color);
  margin: auto var(--dialog-margin-footer);
  justify-content: center;
}

.footer__dialog-icon {
  grid-column: 1;
  grid-row: 1;
}

.footer__dialog-text {
  grid-column: 2;
  grid-row: 1;
  margin: 0;
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-transform: uppercase;
  min-width: 234px;
}

.dialog__button {
  width: 100%;
  grid-column: 1 / 3;
  grid-row: 2;
  font-family: var(--accent-font), sans-serif;
  height: 38px;
  padding: 9px 17px;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
}

.footer__dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}


@media (width >= 1440px) {
  .header {
    min-block-size: 368px;
    margin-block-end: 98px;
  }

  .footer__button {
    flex-direction: row;
    min-inline-size: 335px;
    max-block-size: 55px;
  }

  .footer__icon {
    min-width: 21px;
    min-height: 21px;
  }
}
